/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&family=Oswald:wght@700&display=swap');


@font-face {
    font-family: 'Lato Black Italic';
    src: url('assets/fonts/lato-blackitalic-webfont.woff2') format('woff2'),
        url('assets/fonts/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Set a base font and background color */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
}

/* Add some spacing and basic styles to headings and paragraphs */
h1,
h2,
h3 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Create a simple container for content */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Add some styling to buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Add responsive styles */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}


header {
    background-image: url('/assets/img/header-banner.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha value for desired transparency */
    color: #fff;
    padding: 100px 0;
    /* Adjust as needed */
    text-align: center;

}

.fixed-top {
    height: 75px;
}



/* .stikcy .navbar-brand img {
    width: 100px !important;
    height: auto;
}

.navbar .navbar-brand img {
    width: 50px;
    height: auto;
} */


#header .navbar {
    background-color: transparent;
    transition: padding 0.3s ease;
}

#header .navbar.sticky {
    background-color: #fff;
    padding: 10px 0;
}

#header .nav-link {
    color: #fff;
    transition: color 0.3s ease;
}


#header .sticky-link {
    color: #414f6b !important;
}


#header nav ul li a,
#header .nav-link {
    font-family: 'Lato Black Italic', sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    color: #fff;
    font-size: 12px;
}

/* === Banner Section Style === */

#header .banner-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 150px;
    color: #4d4d4d;
    line-height: 1;
}


/* Define custom font sizes based on media queries */
@media (max-width: 576px) {
    .banner-title {
        font-size: 30px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .banner-title {
        font-size: 50px;
    }
}

@media (min-width: 993px) {
    .banner-title {
        padding: 150px;
    }
}


/* === History Section Style === */


.history {
    background-image: url('/assets/img/history-bg.jpg');
    background-size: cover;
    background-position: top center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 100px;
    text-align: center;
}

.history .text-container {
    padding: 100px 0 200px 0;
}

.history h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 135px;
    line-height: 1;
    text-align: left;
    color: #8597b0;
}

.history h3 span {
    font-size: 32px;
    color: #414f6b;

}

.history p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;

}


.carousel-container {
    background: rgb(57 70 92 / 50%);
    padding: 10px;
}


.owl-dots {
    text-align: center;
    padding-top: 10px;
}

.owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #646e81;
    margin: 0 2px;
}

.owl-dots button.owl-dot.active {
    background-color: #ccc;
}

/* === Climb Section Style === */

.climb .text-container {
    padding: 100px 0 200px 0;
}

.climb .text-container h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 135px;
    line-height: 1;
    text-align: left;
    color: #8597b0;
}

.climb .text-container h3 span {
    font-size: 32px;
    color: #414f6b;

}

.climb .text-container p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;

}


/* === Tab Content Section Style === */


#mountain-tab .nav-pills-container {
    background-color: #414f6b;
    width: 100%;
    /* padding: 10px 0; */

}

/* #mountain-tab .nav.nav-pills {
    background-color: #414f6b;
    width: 100%;
    padding: 10px 0;
} */

#mountain-tab .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #b0b4be;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
}

#mountain-tab .nav-link.active {
    background-color: #b0b4be;
    padding: 10px 20px;
    color: #414f6b;
    border-radius: 0;

}

#mountain-tab .nav-link:not(.active):hover {
    color: #fff;
    transition: color 0.3s ease;
}


.tab-content-mountain1 {
    position: relative;
    width: 100%;
    background-image: url('/assets/img/bg-mountain1.jpg');
    background-size: cover;
    background-position: top center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    overflow: hidden;

}

.tab-content-mountain1::before {
    content: "";
    display: block;
    padding-top: 30%;

}


.tab-content-mountain2 {
    position: relative;
    width: 100%;
    background-image: url('/assets/img/bg-mountain1.jpg');
    background-size: cover;
    background-position: top center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    overflow: hidden;

}

.tab-content-mountain2::before {
    content: "";
    display: block;
    padding-top: 30%;

}

.schedulebox {
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: auto;
    left: 20%;
    transform: translateX(-50%);
    top: 15%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 25px;
}

.schedulebox h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
    text-align: left;
    color: #414f6b;
}

.schedulebox p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

@media screen and (min-width: 768px) {
    .tab-content-mountain1 {
        padding: 0;
    }

    .schedulebox {
        left: 20%;
        max-width: 400px;
        transform: translateX(-50%);
    }
}